<header id="header" class="group">
    <div id="header-inner">
    
        <a href="/index.html"><img class="logo" src="{{ "/images/site-img/menu-logo.png" | prepend: site.baseurl }}"></a>

        <a class="nav_toggle" href="#"> MENU </a>
        <nav id="nav">
            <ul>
                <li><a href="/about/">About</a></li>
                <li><a href="/artists/">Artists</a></li>
                <li><a href="/artists.html">Artists</a></li>
                <li><a href="/testimonials/">Testimonials</a></li>
                <li><a href="/contact/">Contact</a></li>
            </ul>
        </nav>
    </div>                  
</header>