---
layout: default-about
title: About
body_class: about
---

<section class="artists wrapper">

	<h2 class="section-artist-title">About</h2>

	<div class="section group">
		<!-- Lee's content -->
		<div class="col span_2_of_2 center">
			<h3>Lee Cummings - Founder / Director</H3>

			<p>Lee Cummings has been surfing and playing music around the South West for over 20 years. During this time he has come to be recognised as the vibrant, fun-loving and cheeky character behind some of the region’s most successful bands, memorable parties and notable events.</p>

			<p>A successful world-travelled percussionist (see <a href="http://downsouthentertainment.com.au/special/2013/09/07/lc-drums/" title="Lee link">L.C.DRUMS</a> ), Lee spent a growing amount of time in the South West playing the role of go-to-guy for music and booking recommendations. It was the increasing demand for his entertainment booking advice and overwhelming positive feedback that led to Lee founding Down South Entertainment in 2011.</p>

			<p>DSE is steadily gaining momentum throughout the South West as more venues, artists, wedding couples and event organisers make use of Lee’s expertise, which is enhanced by his unmistakable “Down South” vibe.</p>

			<p class="motto">"Music is life, life is music."</p>

			<div class="span_2_of_2">			
				<img src="../images/site-img/lee.jpg" alt="{{ page.title }} image"/>			
			</div>

		</div>

	</div>

	<!-- <div class="section-divider"></div>

	<div class="section group">
		
		<div class="col span_2_of_2 center">
			<h3>Emjay Kim - Executive Assistant</h3>
			
			<p>Effervescent kiwi girl Emma Jane is a former flight attendant and fronted a successful New Zealand indie band before being captivated by the creative scene in Australia’s South West</p>

			<p>‘Emjay’ is now unleashing her boundless creativity on the Margaret River region; singing in several local acts, providing freehand graphic design services and making her mark on the illustration, design and crafting scenes</p>

			<p>Known locally for being cute, happy, down to earth and easy to relate to, Emjay made the perfect addition to the DSE team, where her keen business sense, marketing knowledge and administrative skills are utilised to great effect</p>

			<p class="motto">"Yesterday is history. Tomorrow is a mystery. Today is a gift."</p>

			<div class="span_2_of_2">
				<img src="../images/site-img/emjay.jpg" alt="{{ page.title }} image" />
			</div>

		</div>
	
	</div> -->

</section>
