---
layout: "default-contact"
body_class: contact
published: true
---



<section class="artists wrapper">

	<h2 class="section-artist-title">Contact</h2>

	<div class="section group">
		<!-- Contact content -->
		<div class="col span_2_of_3">

			<p>Whether you have or haven’t found what you are looking for, we can help you. Drop us a line and we’ll get back to you real soon.</p>
			<p>Please contact Lee Cummings<br>

			mobile: <a href="tel:0449 141 424">0449 141 424</a><br>
			email: <a href="javascript:location='mailto:\u0069\u006e\u0066\u006f\u0040\u0064\u006f\u0077\u006e\u0073\u006f\u0075\u0074\u0068\u0065\u006e\u0074\u0065\u0072\u0074\u0061\u0069\u006e\u006d\u0065\u006e\u0074\u002e\u0063\u006f\u006d\u002e\u0061\u0075';void 0"><script type="text/javascript">document.write('\u0069\u006e\u0066\u006f\u0040\u0064\u006f\u0077\u006e\u0073\u006f\u0075\u0074\u0068\u0065\u006e\u0074\u0065\u0072\u0074\u0061\u0069\u006e\u006d\u0065\u006e\u0074\u002e\u0063\u006f\u006d\u002e\u0061\u0075')</script></a><br>
			facebook: <a href="https://www.facebook.com/musicandgoodtimes">facebook/musicandgoodtimes</a></p>

		</div>
		<div class="col span_1_of_3">
			<div class="contact-image">
				<img src="../images/site-img/notes_black.png" />
			</div>
		</div>
	</div>

	<div class="section form group">
		<!-- Form content -->
		<div class="col span_2_of_3">

			<!-- Gigwell form -->
			<script src="//s3-us-west-1.amazonaws.com/gigwell-connect/booknow/v3/widget.js" async defer></script>

			<script>
			    window.gigwell = {};
			    gigwell.formDisplayMode = "inline";
			    gigwell.agencyId = "3657";
			  gigwell.onInit = function() {
			    gigwell.open();
			  }
			</script>

			<div id="gigwell-container"></div>
		</div>
	</div>

	<div class="section credits group">
		<!-- Website details -->
		<div class="col span_2_of_2">
			<h3>Photography Credits</h3>
			<div class="web-details-text">
				<p>Selected photography by - Lauren Tricket Photography</br>
				<a href="http://www.backroommedia.com.au/The_Backroom/Home.html">backroommedia.com.au</a></p>
			</div>
		</div>
	</div>

</section>
